
.box1{
    height: 20vh;
    background: teal;
    display: flex;
}
.box{
    margin: 20px;
}
p{
    font-size: 24px;
    color: beige;
}
.box2{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box3{
    background: darkblue;
    border: 1px solid black;
}